.calculator {
  min-width: 370px;
  max-width: 370px;
  height: 60vh;

  .display {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: 20%;
    max-height: min-content;
    padding-right: 5px;
    text-align: right;
    background-color: rgba(29, 27, 27, 0.151);
    color: $color-secondary;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    word-break: break-all;

    .previous-number {
      font-size: 20px;
      color: rgb(182, 182, 182);
    }

    .math-sign {
      font-size: 22px;
    }

    .current-number {
      font-size: 35px;
    }
  }
}
